@charset "UTF-8";

/* ----------------------------------------------------------
  Form
---------------------------------------------------------- */

.wpu-options-form {
    padding-top: 20px;
}

.wpu-options-form .label-radio {
    margin-right: 15px;
}

.wpu-options-form__title {
    width: 670px;
    margin-top: 20px;
    border-spacing: 5px;
    table-layout: fixed;
}

.wpu-options-box td.td-label {
    z-index: 1;
    position: relative;
    width: 180px;
    padding-right: 20px;
    font-size: 95%;
    vertical-align: top;
}

.wpu-options-helper {
    display: inline-block;
    width: 25px;
    text-align: left;
    line-height: 22px;
    vertical-align: top;
}

.wpu-options-field-info {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 25px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 150px;
    height: 2em;
    padding: 0 0.5em;
    border: 1px solid #ccc;
    overflow: hidden;
    font-size: 11px;
    line-height: 2;
    white-space: nowrap;
    opacity: 0;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wpu-options-box td.td-label:hover .wpu-options-field-info {
    visibility: visible;
    opacity: 0.999;
}

/* ----------------------------------------------------------
  Help
---------------------------------------------------------- */

.wpuoptions-help {
    display: block;
    clear: both;
    border-top: 1px solid transparent;
    color: #999;
}

/* ----------------------------------------------------------
  Fields
---------------------------------------------------------- */

.wpu-options-box td + td {
    padding: 0 0 10px;
}

.wpu-options-form__table {
    width: 100%;
}

.select2-container,
.wpuoptions-view-editor-switch,
.wpu-options-box textarea,
.wpu-options-box input[type=url],
.wpu-options-box input[type=text],
.wpu-options-box input[type=email],
.wpu-options-box input[type=date] {
    width: 100%;
    margin: 0;
    max-width: 650px;
}

.select2-container {
    width: 100%!important;
}

@media(max-width:782px) {
    .wpu-options-form__table,
    .wpu-options-form__table tbody,
    .wpu-options-form__table tr,
    .wpu-options-form__table td {
        display: block;
    }

    .wpu-options-box td.td-label {
        width: auto;
    }
}

/* ----------------------------------------------------------
  Upload media
---------------------------------------------------------- */

.wpu-options-upload-preview {
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
    max-height: 140px;
    max-width: 170px;
    overflow: hidden;
    outline: 1px solid #ccc;
}

.wpu-options-upload-preview--file {
    padding: 5px 5px 5px 25px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.wpu-options-upload-preview .x {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    opacity: 0.30;
    background-color: #999;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    filter: alpha(opacity=30);
}

.wpu-options-upload-preview:hover .x {
    opacity: 0.999;
    filter: alpha(opacity=99);
}

.wpu-options-upload-preview .x:hover {
    background-color: red;
}

.wpu-options-upload-preview img {
    display: block;
    z-index: 1;
    position: relative;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

/* ----------------------------------------------------------
  Editor
---------------------------------------------------------- */

.wpuoptions-view-editor-switch .original {
    display: block;
    padding: 0 10px;
    max-height: 150px;
    overflow: auto;
    outline: 1px solid #d0d0d0;
}

.wpuoptions-view-editor-switch .edit-link {
    margin-top: 5px;
}

.wpuoptions-view-editor-switch .editor-view {
    display: none;
}

/* ----------------------------------------------------------
  Toggle boxes
---------------------------------------------------------- */

.wpu-options-form__box {
    margin-bottom: 10px;
}

.wpu-options-form__title {
    margin-top: 0;
    cursor: pointer;
}

.wpu-options-form__title:after {
    content: '▼';
    margin: 0 5px;
    font-size: 10px;
    color: #999;
}

.is-closed > .wpu-options-form__title {
    color: #888;
}

.is-closed > .wpu-options-form__title:after {
    content: '▶';
}

.is-closed > .wpu-options-form__title:hover:after {
    color: #333;
}

.wpu-options-form__box.is-closed > table {
    display: none;
}

/* ----------------------------------------------------------
  Date Picker
---------------------------------------------------------- */

.ui-datepicker {
    display: none;
    width: 200px;
    padding: 5px;
    background-color: #fff;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    text-align: center;
    line-height: 1.8em;
}

.ui-datepicker .ui-datepicker-title select {
    margin: 1px 0;
    font-size: 1em;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%;
}

.ui-datepicker table {
    width: 100%;
    margin: 0 0 .4em;
    border-collapse: collapse;
    font-size: .9em;
}

.ui-datepicker th {
    padding: .7em .3em;
    border: 0;
    text-align: center;
    font-weight: bold;
}

.ui-datepicker td {
    padding: 1px;
    border: 0;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    background-image: none;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    width: auto;
    margin: .5em .2em .4em;
    padding: .2em .6em .3em .6em;
    overflow: visible;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

/* with multiple calendars */

.ui-datepicker.ui-datepicker-multi {
    width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

/* RTL support */

.ui-datepicker-rtl {
    direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
    right: auto;
    left: 2px;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    right: auto;
    left: 1px;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

/* ----------------------------------------------------------
  Export
---------------------------------------------------------- */

.wpu-export-title {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.wpu-export-title .wpu-export-title-checkbox {
    visibility: hidden;
    margin-left: 5px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

:hover > .wpu-export-title .wpu-export-title-checkbox {
    visibility: visible;
    opacity: 0.999;
}

/* ----------------------------------------------------------
  Lang
---------------------------------------------------------- */

.wpu-options-form .wpu-options-lang-switcher {
    display: none;
}

.wpu-options-form.has-lang .wpu-options-lang-switcher {
    display: block;
}

.wpu-options-lang-switcher li {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: top;
}

.wpu-options-lang-switcher a:not(:hover) {
    text-decoration: none;
}

.wpu-options-lang-switcher a.is-active {
    text-decoration: underline;
    font-weight: bold;
}

/* Lang field
-------------------------- */

.wpufield-has-lang {
    z-index: 1;
    position: relative;
    padding-left: 2px;
}

.wpufield-has-lang:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    margin: auto;
    background-color: #369;
}
